.footer{
  background-color: $crema;
  padding: 20px; 
  .footer__item{
    display: flex;
    justify-content: center;

  .footer__lista{
    margin: 0px 20px;
    list-style-type: none;
    
  }
}
}