.footer{
  background-color: $crema;
  padding: 20px; 
  .footer__item{
    display: flex;
    justify-content: center;

  .footer__lista{
    margin: 0px 20px;
    list-style-type: none;
    
  }
}
}
//maps
$redes: (
  instagram: #C25E30,
  facebook: #3a5795,
  twitter: #55acee,
  whatsApp: #44a304,
);
@each $red, $color in $redes {
  &:hover.btn--#{$red} {
    background-color: $color;
    font-size: 2.5rem;
  }
}