//condicionales header
$modo: dark;
$dark_background: #e773ca;
$dark_text:#e9ecef;

//mixin para card
@mixin sizes($width, $height,){
  width: $width;
  height: $height;
}
//extend
.tamaños{
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 24px;
  transition: all 2s;
}
.texto{
  width: 89%;
  height: 198px;
  margin: 5px 0px 20px;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
}
//map-get

$enviar: (
  ancho: 20%,
  alto: 55px,
  borde: 10px,
  margen: 30px,
  fuente: 20px,
);
