@import "_variables";
@import "_generales";
@import "_header";
@import "_footer";

body{
  font-family: 'Roboto', sans-serif;
  font-size: 17px; 
  background:url("../imagenes/fondo.jpg");
}  
.cards{
  .card__video{
    width: map-get($enviar, ancho);
    height: 450px;
    padding: 20px 60px;
    
  }
  .card__subTitulo{
    text-align: center;
    color: rgb(128, 126, 126);
    font-size: 50px;
    margin: 20px 0px 20px 0px;
  }
  .card{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    justify-items: center;

    .card__uno{
      display:flex;
      flex-direction: column;
      box-shadow: 0px 7px 8px rgba(0, 0, 0, 0.16);
      border: 2px solid $gris;
      background-color: $gris;
      @include sizes(300px, 400px);
      @extend .tamaños;
    
      img{
        height: 300px;
        object-fit: contain;
        
        .post1{
          object-fit: cover;
          object-position: 0px -26px;
        }
        .post2{
          object-fit: fill;
          object-position: 0px 5px;
        }
        .post3{
          object-fit: cover;
          object-position: 0px 5px;
        }
        .post4{
          object-fit: cover;
          object-position: -25px -24px;
        }
      }
      .card__parrafo{
        color: $oscuro;
        text-align: center;
        margin-top: 20px;
      }
    }
    .card__scale:hover{
      transform: scale(1.5);
      
    }
  }
}

.formulario-grid{
  background-color:rgb(248, 194, 203);
  color: $oscuro;
  border-radius: 8px;
  display: grid;
  grid-template-areas: 
  "contacto-uno contacto-dos";
  grid-template-columns: 50% 50%;
  row-gap: 10px;
  column-gap: 10px;
  margin: 70px 154px;
  padding: 35px;

  .formulario_uno{
    padding-left: 40px;
    padding-top: 30px;
    grid-area:contacto-uno;

    .formulario__label{
      display: flex;
      font-size: 25px;
      margin: 10px;
    }
    .formulario__input{
      width: 68%;
      height: 55px;
      border-radius: map-get($enviar, borde);
      font-size: 20px;
      padding: 10px;
    
    }
  }
  .formulario__dos{
    padding-top: 30px;
    grid-area: contacto-dos;

    .formulario__texto {
      display:block;
      @extend .texto;
    }
    .formulario__enviar{
      color: $oscuro;
      width: 20%;
      height: map-get($enviar, alto);
      border-radius: map-get($enviar, borde);
      margin-top: map-get($enviar, margen);
      font-size: map-get($enviar, fuente);
    
    }
    .form__dos{
      margin-left: 20px;
    }
  }
}

@media screen and (max-width: 1440px){
  .cards .card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
  }
  .footer{
    height: 7vh;
  }  
}

@media screen and (max-width: 980px){
  .card__video{
    width: map-get($enviar, ancho);
    height: 240px;
    padding: 0px;
  }
  .card__subTitulo{
    font-size: 35px;
  }
  .cards .card{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    .card__uno{
      @include sizes(100%, 322px);
      img{
        width: 80%;
        margin-top:0px;
        margin-left: 20px;
      }
      .card__parrafo{
        font-size: 12px;
        margin-top: 10px;
      }
    }
  }
  .formulario-grid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    "contacto-uno"
    "contacto-dos";
    row-gap: 10px;
    column-gap: 10px;
    margin: 50px 24px;
    margin-top: 40px;

    .formulario_uno{
      flex-direction: column;
      padding: 0px;
      grid-area: contacto-uno;

      .formulario__label{
        font-size: 14px;
      }
      .formulario__input{
        flex-direction: column;
        font-size: 12px;
        width: 90%;
      }
    }
    .formulario__dos{
      padding-top: 0px;
      grid-area: contacto-dos;
      .formulario__label{
        font-size: 14px;
      }
      .formulario__texto {
        display:block;
        font-size: 14px;
        width: 90%;
        height: 138px;
      }
      .formulario__enviar{
        width: 20%;
        height: 35px;
        font-size: 12px;
    
      }
    }
  }
  .footer{
    height: 7vh;
  }
}

@media screen and (max-width: 570px){
  .card__video{
    width: map-get($enviar, ancho);
    height: 240px;
    padding: 0px;
  }
  
  .card__subTitulo{
    font-size: 35px;
  }
  .cards .card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;

    .card__uno{
      @include sizes(100%, 322px);
      img{
        width: 80%;
        margin-top:0px;
        margin-left: 20px;
      }
      .post4{
        object-position:initial;
      }
      .card__parrafo{
        font-size: 12px;
        margin-top: 10px;
      }
      
    }
  }
  .formulario-grid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    "contacto-uno"
    "contacto-dos";
    row-gap: 10px;
    column-gap: 10px;
    margin: 70px 24px;
    margin-top: 40px;

    .formulario_uno{
      flex-direction: column;
      padding: 0px;
      grid-area: contacto-uno;

      .formulario__label{
        font-size: 14px;
      }
      .formulario__input{
        flex-direction: column;
        font-size: 12px;
        width: 90%;
      }
    }
    .formulario__dos{
      padding-top: 0px;
      grid-area: contacto-dos;

      .formulario__texto {
        display:block;
        width: 90%;
        height: 138px;
        font-size: 14px;
      }
      .formulario__enviar{
        width: 28%;
        height: 35px;
        font-size: 12px;
      
      }
    }
  }
  .footer{
    height: 7vh;
  }
}

@media screen and (max-width: 375px){
  .card__video{
    width: map-get($enviar, ancho);
    height: 229px;
    padding: 0px;
  }
  .post4{
    object-position: initial;
  }
  .card__subTitulo{
    font-size: 25px;
  }
  .cards .card{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 10px;
    column-gap: 10px;
    .card__uno{
      @include sizes(100%, 319px);
      img{
        width: 80%;
        margin-top:0px
      }
      .card__parrafo{
        font-size: 10px;
        margin-top: 5px;
      }
    }
  }
  .formulario-grid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas:
    "contacto-uno"
    "contacto-dos";
    row-gap: 10px;
    column-gap: 10px;
    margin: 70px 24px;
    margin-top: 40px;
    .formulario_uno{
      flex-direction: column;
      padding: 0px;
      grid-area: contacto-uno;
      .formulario__input{
        flex-direction: column;
        font-size: 12px;
        width: map-get($enviar, ancho);
        height: 45px;
      }
      .formulario__label{
        font-size: 14px;
      }
    }
    .formulario__dos{
      padding-top: 0px;
      grid-area: contacto-dos;
      .formulario__texto {
        display:block;
        width: map-get($enviar, ancho);
        height: 138px;
        font-size: 14px;
      }
      .formulario__enviar{
        width: 35%;
        height: 30px;
        font-size: 12px;
      }
      .form__label{
        font-size: 9px;
      }
    }
  }
}